/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
.post-edit-link {
	display:none;	
}

html,
body {
	height: 100%;
	min-height: 100%;	
	font-family: 'Roboto', sans-serif;
	color: #6e6e6e;
}

body {
	background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(228,228,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */	
}

#menu {
	position:fixed;
	bottom: 0;	
	left: 0;
	right:0;
}

.home-day,
.home-night {
	height: 100vh;
	background: url(img/bottle-day.png) no-repeat center; 
	background-size: auto 80%;
}

.home-night {
	background-image: url(img/bottle-night.png);
}

.home-branding {
	position:absolute;
	top: 0;
	right: 0;	
	bottom: 0;
	left: 0;
	text-align:center;
}

.home-branding img {
	display: block;
    margin: 20px auto 0;
    height: 101px;
}

.home-branding h1 {
	font-size: 50px;
	margin: 15px 0;
}

.home-branding h2, .home-branding p.first-edition {
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 3px;
}

.home-branding h2 span {
	font-size: 20px;	
	display:block;
}

.home-branding p {
	font-size: 20px;	
}

.home-branding p.first-edition {
	position:absolute;
	bottom: 10%;
	right: 0;
	left: 0;
}

.home-intro {
    margin-top: 330px;
    text-align: center;
    font-size: 18px;	
	font-weight: 300;
	padding: 0;
	z-index: 10;
}

.home-intro p {
	margin-left: -25px;	
	margin-right: -25px;
	margin-top: 0;
}

#header #menu {
	z-index: 9001;
	padding: 0 40px;
	background: white;
}

#mega-menu-main-menu {
	display:flex !important;
	justify-content: space-between; 
}

#home-products {
	min-height: 100vh;	
	overflow:auto;
	clear: both;
	background:rgba(228,228,228,1);
	padding-bottom: 70px;
}

.home-cell img {
	padding: 20px;	
}

.home-cell {
	text-align:center;
}

.home-cell h2{
	margin: 0;	
}

.home-cell a {
	color: #6e6e6e;	
}

.home-cell a:hover {
	color: #000;
	text-decoration:none;	
}

.home-cell h2 {
	font-weight: 300;	
}

.mega-menu-item-19 a,
a.custom mega-menu-link {
	font-weight: 400 !important;
}

.woocommerce-breadcrumb {
	display:none;	
}





















#footer {
	xxpadding-bottom: 70px;	
}

@media (max-width: 1025px) {
	.home-branding h1 {
		font-size: 30px;	
	}
	
	.home-day,
	.home-night {
		background-size: 75%;	
	}
	
}

@media (max-width: 1225px) {
	.home-branding h1 {
		font-size: 40px;	
	}
}