/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
.post-edit-link {
	display:none;	
}

html,
body {
	height: 100%;
	min-height: 100%;	
	font-family: 'Roboto', sans-serif;
	color: #6e6e6e;
}

#dc {
	background: url(img/dcbg2.jpg) no-repeat right bottom #d3d3d3; 
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.col-home {
	height: 100vh;
	position:relative;
}

.col-home img {  
	padding: 40px 0 110px;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.product-section {
	text-align:center;	
}

a {
	color: #6e6e6e;	
}

a:hover {
	text-decoration:none;	
}

#menubar {
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: white;	
	z-index: 9001;	
}

#menu {
	margin: 0;
	padding: 0;
}

#menu li {
	width: 24%;
	text-align:center;
	display:inline-block;
	margin: 0;
	padding: 0;
	vertical-align:middle;
	line-height: 50px;
	font-size: 18px;
}

#menu img {
	height: 40px;
	vertical-align:center;	
}

.home-cell {
	position:relative;
}

.home-cell img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	padding: 0px 20px 20px;
}

.home-cell h2 {
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    margin: 0 0 10px;
    text-align: center;
    right: 0;
    left: 0;
}

p, td {
	font-size: 1.6rem;
	font-weight: 300;
}

#profile-table {
	border-top: 1px solid #ddd;
}

#profile-table td {
	width:120px;	
	font-weight: 400;
	line-height: 40px;
}

#profile-table td +td {
	width: auto;
	text-align:right;
	font-weight: 300;
}

#profile-table tr {
	border-bottom: 1px solid #ddd;	
}

.about-section h1, .about-section h2, .contact-section h1, .contact-section h2 {
	margin-top: 40px;	
	font-weight: 400;
	font-size: 30px;
	position:relative;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 38% !important;
    margin-right: 10% !important;
    margin-top: 100px !important;
}

.pswp__item {
	background: #d3d3d3 !important;	
}